menuconfig UART_JIVE
	bool "JiVe UART driver"
	depends on SOC_RISCV32_JIVE
	select SERIAL_HAS_DRIVER
	help
	  Enable the JiVe UART driver.

menuconfig UART_JIVE_PORT_0
	bool "Enable JiVe Port 0"
	depends on UART_JIVE
	help
	  This tells the driver to configure the UART port at boot, depending on
	  the additional configuration options below.

config UART_JIVE_PORT_0_NAME
	string "Port 0 Device Name"
	default "uart0"
	depends on UART_JIVE_PORT_0
	help
	  This is the device name for UART, and is included in the device
	  struct.